<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual labs</title>
</head>
<body>

    <h1>Coding Platform</h1>

    <!-- <div class="container">
        <form name="myform" action="/code" method="POST" >
          
           <h1>code</h1>
           <div class="row">
            <div class="col-25">
              <label for="fname">languages</label>
            </div>
            <select   name ="langs" id="lang">
                <option value="cpp">C</option>
                <option value="c++">C++</option>
                <option value="java">Java </option>
                <option value="python">Python </option>
            </select>
           
          </div>
           <br>
           <textarea name="code" id="" cols="100" rows="20"> #include<stdio.h>

            int main(){
            
            int main=10;
            
            printf("hello world %d",main);
            return 0;
            }</textarea>
        <br>
        <div class="customTest">
            <textarea name="test" id="" cols="30" rows="10"></textarea>
        </div>
        <br>
        <div class="submit">
            <button class="btn" >Submit</button>
        </div>
        </form> -->
</div>
</body>
</html>