<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Virtual Lab</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Semantic/semantic.min.css">
        <script src="/Semantic/semantic.min.js"></script>
        <!-- <script src="js/jquery-3.4.1.min.js"></script> -->
        <link rel="stylesheet" href="/home.css">
        <link rel="icon" href="images\dscelogo.png">
        <title>Virtual-Labs</title>
        
</head>
<body>

  <div class="ui header" style="text-align:center;" id ="head">
  <a class="ui circular image" href="http://dsce.edu.in"><img src="images/dscelogo.jpg"></a>  <span style="color:#3053AB"> Dayananda Sagar College Of Engineering</span> 
 
  <!-- <br><p style="font-size:25px;margin-top:10px; text-align: center;">A Self Learning initiative by the Department of Computer Science</p> -->
</div>
<div>
<div id="toTop"><i class="chevron up icon"></i></div>
  <div class="ui  light grey inverted secondary huge menu">
  <a class="header item" href="/">
    Home
  </a>
 <a class="item">
    About Us
  </a>
  
</div>
</div>
<div id="toTop"><i class="chevron up icon"></i></div>
<div class="ui container" id="CardGrid">
    <h1 style="text-align: center;margin: 50px;">Thank You!!!</h1>
    <a href="/cn">Back</a>
  </div>
</body>
</html>