<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student-Register</title>
    <link rel="stylesheet" href="/CSS/StudentAuthentication.css">
    <script src='/js/StudentRegister.js'></script>
</head>

<body>
    <div class="body">
        <img src="/images/login.png" style="width: 40%;margin-top: 20px;">
        <div>
            <form action="/StudentRegister">
                    <div id='usnDetail' style="visibility:visible;">
                    <label class="formLabel">USN</label>
                    <input id='usn' type="text" class="formelements" placeholder="   USN"><br>
                    <button type="button" class="submit" onclick="CheckUsn(usn,usnDetail,inputDetail,newUsn)">Submit</button>
                </div>
                <div id='inputDetail' style="visibility:hidden;margin-top: -130px;">
                    <label id='newUsn' class="formLabel">USN:usn</label><br>
                    <label class="formLabel">name</label>
                    <input id='name' type="text" class="formelements" placeholder="   Name"><br>
                    <label class="formLabel" style="margin-left: -30px;">password</label>
                    <input id='password' type="password" class="formelements" placeholder="   password"><br>
                    <input style="margin-left: 90px;" id='passwordNew' type="password" class="formelements" placeholder="   ReEnter password">
                    <br><button type="submit" class="submit">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</body>

</html>