<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/StudentAuthentication.css">
    <title>Authentication</title>
    <script src="/js/StudentLogin.js"></script>

</head>
<body>
    <div class="body">
        <img src="/images/login.png" style="width: 40%;margin-top: 20px;">
        <form onsubmit="return FormSubmit()"  method="post" action='/StudentAuthentication/Authentication'>
            <div>
                <label class="formLabel">USN</label>
            <input id='usn' name="usn" type="text" class="formelements" placeholder="   USN">
            </div>
            <div>
                <label class="formLabel" style="margin-left: -30px;">password</label>
                <span style="margin-left: -0px;">
                    <input name="password" type="password" id='password' class="formelements" placeholder="   Password" >
                </span>
            </div>
            <button class="submit" type='submit'>Submit</button><br>
            <span style="margin-top: 30px;"><a href="/StudentAuthentication/StudentRegisterUsn" style="color:white;">Register hear..!</a></span>
        </form>
        <p id='Invalid' style="color: red;visibility:hidden"></p>
    </div>
</body>

</html>